
<html ng-app = "myApp">
	<head>
		
		<title>AngularJS</title>
		<meta charset="utf-8">
		<script src="/static/angular.js"></script>
	</head>
	<body>

		<div ng-controller = "maincontroller">
			<h1>Hey! Heres angular world!</h1>
			<h4>Ανγυλαρ ΙΣ</h4>
			<div>
				-No violence<br>
				-Made with html5 and javascript<br>
				-Angular alert<br>
				
				<b>By the way, [[ iname ]] from [[ year ]] is [[ color ]]!</b>
			</div>
			
			<p></p>
			<form name="myForm">
				<label>
				    <input type="text" name="myName" ng-model="name" ng-minlength="5" ng-maxlength="10" required />
				</label>
				  
				<div ng-messages="myForm.myName.$error">
				    <div ng-message="required">Please enter something '_'</div>
				    <div ng-message="minlength">More please '_'</div>
				    <div ng-message="maxlength">Less please '_'</div>
				</div>
			</form>
			
			<div>
				<label>what is your favourite animal?</label>
				<input type = "text" id="myTextBox" ng-model = "handle">
			</div>
			<hr>
			<div class = "alert" ng-if="handle.length >= 771">Isn't that animal's name too long?</div>
			<div>[[handleclean()]] is god</div>
			
			<ul >
				<li ng-repeat="rule in rules" ng-click = "alertClick()">
					[[ rule.rulename ]]
				</li>
			</ul>
		</div>
		
		<div ng-controller = "secondcontroller">
			<h2>[[ name ]]</h2>
			<a href = "#bookmark">Go to bookmark</a>
			<p>Longest scientifical animal name is Supcilious ingilizilon the pealstorm astoministingastong duaiduai ken kelais sentipiter cense sence Di Hormodical ing stipintityle klynsh si de ii ui yuoi tau strowmysxloxinian debour</p>
		</div>
		
		<script type="text/javascript" src="/static/utility.js"></script>
		<script type="text/javascript" src="/static/angulartest.js"></script>
		<script type="text/javascript" src="/static/angularMessage.js"></script>
	</body>
</html>